:root {
  color-scheme: light dark;

  --theme-color: #7ecdf7;
  --background-color: light-dark(#eee, #222);

  --button-space: clamp(2px, 1.5vmin, 12px);
  --button-size: clamp(10px, 25vmin, 160px);
  --arrow-margin: clamp(1px, 1.5vmin, 12px);
  --button-bg-color: #333;
  --button-active-bg-color: #444;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  color: light-dark(#222, #eee);
  background: light-dark(#eee, #222);
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

main {
  flex: 1;
}

footer {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer {
  bottom: 0;
  margin-bottom: env(safe-area-inset-bottom);
}

.button-row {
  display: flex;
  height: var(--button-size);
  margin-bottom: calc(2 * var(--button-space));
  justify-content: center;
}

.key-button {
  width: var(--button-size);
  height: var(--button-size);
  margin-left: var(--button-space);
  margin-right: var(--button-space);

  container-type: inline-size;

  color: var(--theme-color);
  background-color: var(--button-bg-color);

  border: none;
  border-radius: 15%;
}

.button-spacer {
  width: var(--button-size);
  height: var(--button-size);
  margin-left: var(--button-space);
  margin-right: var(--button-space);

  container-type: inline-size;

  color: var(--background-color);
  background-color: var(--background-color);

  border: none;
  border-radius: 15%;
}

.key-text {
  font-size: 25cqw;
}

.key-button:active {
  background-color: var(--button-active-bg-color);
}

.arrow {
  filter: brightness(0) saturate(100%);
}

.arrow-svg {
  margin: var(--arrow-margin);
  fill: var(--theme-color);
  stroke: var(--theme-color);
}

.arrow-left {
  transform: rotate(-90deg);
}

.arrow-right {
  transform: rotate(90deg);
}

.arrow-up {
}

.arrow-down {
  transform: rotate(180deg);
}
