:root {
  color-scheme: light dark;

  --theme-color: #7ecdf7;
  --secondary-theme-color: #b67ef7;
  --background-color: light-dark(#eee, #222);

  --button-space: clamp(2px, 1.5vmin, 12px);
  --button-size: clamp(10px, 25vmin, 160px);
  --arrow-margin: clamp(1px, 1.5vmin, 12px);
  --button-bg-color: light-dark(#ddd, #333);
  --button-active-bg-color: light-dark(#ccc, #444);

  --volume-btn-size: clamp(10px, 10vmin, 75px);
}

html, body {
  padding: 0;
  margin: 0;
  height: 100dvh;

  /* No scroll */
  max-height: 100dvh;
  overflow-y: hidden;
  overscroll-behavior: none;
}

body {
  color: light-dark(#222, #eee);
  background: light-dark(#eee, #222);
  display: flex;
  flex-direction: column;

  /* No scroll */
  touch-action: none;
}

main {
  flex: 1;
}

footer {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  margin-bottom: env(safe-area-inset-bottom);
}

/***********/
/* Buttons */
/***********/

.btn {
  color: var(--theme-color);
  background-color: var(--button-bg-color);

  border: none;
  border-radius: 15%;
}

.btn:active {
  background-color: var(--button-active-bg-color);
}

.key-button {
  width: var(--button-size);
  height: var(--button-size);
  margin-left: var(--button-space);
  margin-right: var(--button-space);

  container-type: inline-size;
}

.key-text {
  font-size: 25cqw;
}

.button-row {
  display: flex;
  height: var(--button-size);
  margin-bottom: calc(2 * var(--button-space));
  justify-content: center;
}

.button-spacer {
  width: var(--button-size);
  height: var(--button-size);
  margin-left: var(--button-space);
  margin-right: var(--button-space);

  container-type: inline-size;

  color: var(--background-color);
  background-color: var(--background-color);

  border: none;
  border-radius: 15%;
}

.volume-text {
  display: flex;
  justify-content: center;
}

.volume-bar {
  display: flex;
  height: var(--volume-button-size);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.volume-text, .volume-btn, .volume-level {
  color: var(--theme-color);
  font-size: clamp(1em, 10cqw, 4.5em);
}

.volume-btn {
  width: var(--volume-btn-size);
  height: var(--volume-btn-size);
  text-align: center;
  line-height: 0px;
  margin: 1rem;
}


.volume-slider {
  appearance: none;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  height: calc(0.6 * var(--volume-btn-size));
}

/* .volume-slider::-ms-track { */
/*   height: 100px; */
/* } */


/***************/
/* Arrow icons */
/***************/

.arrow {
  filter: brightness(0) saturate(100%);
}

.arrow-svg {
  margin: var(--arrow-margin);
  fill: var(--theme-color);
  stroke: var(--theme-color);
}

.arrow-left {
  transform: rotate(-90deg);
}

.arrow-right {
  transform: rotate(90deg);
}

.arrow-up {
}

.arrow-down {
  transform: rotate(180deg);
}
