:root {
  color-scheme: light dark;

  --background-color: light-dark(#eee, #222);
  --secondary-background-color: light-dark(#e0e0e0, #1b1b1b);

  --theme-color: light-dark(#219ee5, #7ecdf7);
  --secondary-theme-color: #b67ef7;

  --key-btn-space: min(clamp(2px, 1.5vw, 12px), clamp(2px, 0.4vh, 12px));
  --key-btn-size: min(clamp(10px, 25vw, 160px), clamp(10px, 12vh, 160px));
  --arrow-margin: clamp(1px, 1.5vmin, 12px);
  --button-bg-color: light-dark(#ccc, #333);
  --button-active-bg-color: light-dark(#bbb, #444);

  --volume-btn-size: clamp(10px, 12vmin, 75px);

  --media-btn-size: clamp(10px, 15vmin, 75px);
  --media-svg-margin: clamp(1px, 1vmin, 8px);

  --app-size: calc(var(--key-btn-size) / 2);
  --app-gap: calc(2 * var(--key-btn-space));
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100dvh;

  /* No scroll */
  max-height: 100dvh;
  overflow-y: hidden;
  overscroll-behavior: none;
}

body {
  color: light-dark(#222, #eee);
  background: light-dark(#eee, #222);
  display: flex;
  flex-direction: column;

  /* No scroll */
  touch-action: none;
}

main {
  flex: 1;
}

footer {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  margin-bottom: env(safe-area-inset-bottom);
}

/****************/
/* Control/Keys */
/****************/

.btn {
  color: var(--theme-color);
  background-color: var(--button-bg-color);

  border: none;
  border-radius: 15%;
}

.btn:active {
  background-color: var(--button-active-bg-color);
}

.button-row {
  display: flex;
  height: var(--key-btn-size);
  margin-bottom: calc(2 * var(--key-btn-space));
  justify-content: center;
}

.control-button {
  width: var(--key-btn-size);
  height: var(--key-btn-size);
  margin-left: var(--key-btn-space);
  margin-right: var(--key-btn-space);

  container-type: inline-size;
}

.control-btn-spacer {
  width: var(--key-btn-size);
  height: var(--key-btn-size);
  margin-left: var(--key-btn-space);
  margin-right: var(--key-btn-space);

  container-type: inline-size;

  color: transparent;
  background-color: var(--background-color);

  border: none;
  border-radius: 15%;
}

.key-text {
  font-size: 25cqmin;
}

/* Volume */

.volume-text {
  display: flex;
  justify-content: center;
}

.volume-bar {
  display: flex;
  height: var(--volume-btn-size);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.volume-text,
.volume-btn,
.volume-level {
  color: var(--theme-color);
  font-size: clamp(1em, 10cqmin, 4.5em);
}

.volume-btn {
  width: var(--volume-btn-size);
  height: var(--volume-btn-size);
  text-align: center;
  line-height: 0px;
  margin: 1rem;
}

.volume-slider {
  appearance: none;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  height: calc(0.6 * var(--volume-btn-size));
}

#media-control-bar {
  display: flex;
  height: var(--media-btn-size);
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.media-button {
  width: var(--media-btn-size);
  height: var(--media-btn-size);
  font-size: 1rem;
  text-align: center;
  line-height: 0px;
  margin: 2rem;
}

.svg {
  fill: var(--theme-color) !important;
  stroke: var(--theme-color) !important;
}

.media-svg {
  margin: var(--media-svg-margin);
}

/***************/
/*   App Bar   */
/***************/

#app-bar {
  display: flex;
  height: var(--app-size);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--app-gap);

  padding-top: var(--app-gap);
  padding-bottom: var(--app-gap);

  background-color: var(--secondary-background-color);
}

.app-btn {
  height: var(--app-size);
  width: var(--app-size);
  text-align: space-evenly;
  line-height: 0px;
}

/***************/
/* Arrow icons */
/***************/

.arrow {
  filter: brightness(0) saturate(100%);
}

.arrow-svg {
  margin: var(--arrow-margin);
  fill: var(--theme-color);
  stroke: var(--theme-color);
}

.arrow-left {
  transform: rotate(-90deg);
}

.arrow-right {
  transform: rotate(90deg);
}

.arrow-up {
}

.arrow-down {
  transform: rotate(180deg);
}

/******************/
/* Keyboard Modal */
/******************/

dialog {
  border-radius: 20px;
  border-color: var(--theme-color);
  width: clamp(20px, 70dvw, 600px);
  font-size: 1.5rem;
}

dialog::backdrop {
  background-color: #00000050;
  background-size: cover;
}

#keyboard-form > *:not(:last-child) {
  margin-bottom: 10px;
}

#to-type {
  width: calc(100% - 10px - 5px);
  font-size: 1.5rem;
  padding: 5px;
}

#to-type-label {
  color: var(--theme-color);
}

#keyboard-ok-cancel {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0;
  gap: 10px;
}

.modal-btn {
  font-size: 1.5rem;
  padding: 5px;
}
