:root {
  --track-background: light-dark(#ccc, #333);
  --track-border: light-dark(#222, #ddd);

  /* Webkit doesn't allow percentages for thumb height */
  --track-height: calc(0.6 * var(--volume-btn-size));
  --thumb-height: calc(1.5 * var(--track-height));
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  accent-color: var(--theme-color);
  background: linear-gradient(90deg, var(--theme-color) 50%, var(--track-background) 50%);
  border: 1px solid var(--track-border);
  border-radius: 9999px;
}

input[type=range]::-moz-range-thumb {
  appearance: none;
  width: 10px;
  height: var(--thumb-height);
  border: 1px solid var(--track-border);
  border-radius: 9999px;
  box-shadow: none;

  background: var(--secondary-theme-color);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: var(--thumb-height);
  margin-top: 0px;
  border-radius: 9999px;
  box-shadow: none;

  background: var(--secondary-theme-color);
}
